<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>id</th>
				<th>nick_name</th>
				<th>email</th>
				<th>spot投稿数</th>
				<th>review投稿数</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @members.each do |member| %>
				<tr>
					<td><%= member.member_status %></td>
					<td><%= member.id %></td>
					<td><%= member.nick_name %></td>
					<td><%= member.email %></td>
					<td><%= link_to member.spots.count, member_member_path(member, anchor: "spot") %></td>
					<td><%= link_to member.comments.count, member_member_path(member, anchor: "comment") %></td>
					<td><%= link_to "詳細", member_member_path(member), class: "btn btn-default" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>