<div class="container">
	<div class="row">
		<h1>会員#<%= @member.id %></h1>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>登録日</th>
							<th>Name</th>
							<th>Nickname</th>
							<th>Email</th>
							<th>犬</th>
							<th>投稿数</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><% if @member.is_withdeawal_status == true %>会員
								<% else %><stan class="withdrawal">退会済み</stan>
								<% end %></td>
							<td><%= @member.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
							<td><%= @member.name %></td>
							<td><%= @member.nick_name %></td>
							<td><%= @member.email %></td>
							<%= @member.dogs.each do |dog| %>
							<td><%= dog.name %><%= dog.kind %><%= dog.sex %><%= dog.age %></td>
							<% end %>
							<td><%= @member.spots.count %></td>
						</tr>
					</tbody>
				</table>
		<% end %>
		<h5>わんちゃん</h5>
			<table class="table">
				<tr>
					<th></th>
					<th>お名前</th>
					<th>犬種</th>
					<th>性別</th>
					<th>年齢</th>
				</tr>
			<% @dogs.each do |dog| %>
				<%= form_with(model: dog, local: true) do |form| %>
					<tr>
						<td><% if current_member.dogs.count > 1 %><%= dog.id %><% end %></td>
	    				<td><%= form.text_field :name %></td>
	    				<td><%= form.text_field :kind %></td>
	    				<td><%= form.text_field :sex %></td>
	    				<td><%= form.text_field :age %></td>
	    			</tr>
  					<%= form.submit "変更" %>
				<% end %>
			<% end %>
			</table>
	</div>
</div>

