<div class="container member-registration">
   <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="registration-title">
        <h4>新規登録フォーム</h4>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
              <h7>ProfileImage</h7>
              <%= f.attachment_field :profile_image,class:'form-controll' %>
          </div>

          <div class="field">
              <h7>Name<span class="tag">必須</span></h7>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"名前", class:"col-sm-12" %>
          </div>

          <div class="field">
              <h7>Nickname<span class="tag">必須</span></h7>
              <%= f.text_field :nick_name, placeholder:"ニックネーム", class:"col-sm-12" %>
          </div>

          <div class="field">
              <h7>Email<span class="tag">必須</span></h7>
              <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス", class:"col-sm-12" %>
          </div>

          <div class="field">
              <h7>Password<span class="tag">必須</span></h7>
              <% if @minimum_password_length %>
              <em>(英数字<%= @minimum_password_length %>文字以上)</em>
              <% end %><br>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード", class:"col-sm-12" %>
          </div>

          <div class="field">
              <h7>Password<span class="tag">必須</span></h7>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認", class:"col-sm-12" %>
          </div>

          <div class="actions">
              <P>※ニックネームのみ公開されます</P>
              <%= f.submit "登録", class:"col-sm-12 btn btn-primary" %>
          </div>
      <% end %>

      <%= render "member/shared/links" %>
    </div>
  </div>
</div>
