<!-- 口コミ入力フォーム -->
<%= form_with(model: comment,url: member_comments_path, local: true) do |form| %>

  <!--エラーメッセージ-->
  <%#= render 'layouts/error_messages', model: form.object %>

  <%= form.hidden_field :spot_id, { value: params[:id]} %>
  <%#= form.hidden_field :member_id, { value: comment.member} %>

  <!-- 評価 -->
  <div class="form-group row" id="star">
    <%= form.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= form.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[rate]',//commentモデルのrateカラムに値を保存
    half: true//★の半分の入力を行う
  });
  </script>

  <!-- 口コミ -->
  <div class="form-group row">
    <%= form.label :comment, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= form.text_area :comment, class: "form-control", rows: "8",
        placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。
まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>

  <!-- 確認ボタン -->
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= form.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>
<!-- /口コミ入力フォーム -->