<div class="row comment-index">

<% if comments.present? %>
  <% comments.each do |comment| %>
  <div class="comment-each">
    <div class="row">
      <div class="col-md-2 comment-member">
        <span class="user-img2"><img src="<%= asset_path('moai.jpg') %>"></span>
        <p class="under-line_none"><%= comment.member.name %></p>
      </div>
      <div class="col-md-8">
        <div class="posts-content">
          <!--星評価-->
          <span id="star-rate-<%= comment.id %>"><!-- 星表示 -->
          </span><!-- 繰り返し処理を実行してもidを一意に保てるようにcomment.idを埋め込む-->
           <span>評価：<%= comment.rate %>点 </span>
            <p class="date"><!-- lメソッド：時間を表示 --><%= l comment.created_at, format: :short %></p>
          <script>
          $('#star-rate-<%= comment.id %>').raty({
            size: 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,//星の半分入力
            readOnly: true,//読み取り専用
            score: <%= comment.rate %>//星の入力値を読み込む
          });
          </script>
        <!--/星評価-->
          <p><%= comment.comment %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-7 comment-bottom-padding">
      </div>
      <% if current_member == comment.member || current_admin %>
        <div class="col-md-1 edit-button">
          <%= link_to '編集', edit_member_comment_path(comment), method: :get, class:'btn btn-default' %>
        </div>
        <div class="col-md-1 edit-button">
          <%= link_to '削除', member_comment_path(comment.id), method: :delete, data: { confirm: '本当に消しますか？'},class:'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>

</div>