<!-- ☆/口コミ入力フォーム -->
<div class="comment-form">
<%= form_with(model: [:member, comment], local: true) do |form| %>

  <%= form.hidden_field :spot_id, { value: spot_id } %>

  <!-- 評価 -->
  <div class="form-group row" id=<%=raw "star#{i}".to_json %> form="form1">
    <%= form.label :rate,'評価 ', class:'col-sm-2 col-form-label' %>
    <%= form.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $(<%=raw "#star#{i}".to_json %>).raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[rate]',//commentモデルのrateカラムに値を保存
    half: true,//★の半分の入力を行う
    number: 5//星の数５個まで
  });
  </script>

  <!-- 画像 -->
  <div class="form-group row">
    <%= form.label :comment_images, '写真', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-3">
      <%= form.attachment_field :comment_images_images, multiple: true %><!-- multiple: trueの記述で、複数画像選択可能になる -->
      <div>※複数選択可能です。</div>
    </div>
  </div>

  <!-- 口コミ -->
  <div class="form-group row">
    <%= form.label :comment, '口コミ', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-9">
      <%= form.text_area :comment, class: "form-control", rows: "8",
        placeholder:'口コミ内容や写真がなくても、評価のみで投稿できます。
まずは投稿してみましょう！投稿してから編集もできますよ！' %>
    </div>
  </div>

  <!-- 投稿ボタン -->
  <div class="form-group row">
    <div class="col-sm-9">
    </div>
    <div class="comment-btn">
      <%= form.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>
</div>
<!-- /口コミ入力フォーム -->