	<div class="row spot-box-parent">
		<% spots.each.with_index(1) do |spot, i| %>
		<div class="spot-box">
			<div class="btn">
				<% if current_member || current_admin %>
          				<%= link_to '編集', edit_member_spot_path(spot.id), method: :get, class:'btn btn-default' %>
          				<%= link_to '削除', member_spot_path(spot.id), method: :delete, data: { confirm: '本当に消しますか？'},class:'btn btn-default' %>
        		<% else %>
							<%= link_to '…', member_spot_path(spot.id), class:"btn btn-default" %>
							<%= link_to 'レビューする', member_spots_path, remote: true, class:"btn btn-default" %>
								<div id="comment-form"></div>
				<% end %>
			</div>
					<div>
						<% if spot.comments.present? %>
							<%= i %>位<span id="star-rate-<%= spot.id %>"><!-- ☆平均値表示 --></span><%= spot.ave_rate&.round(1) %>点
							<!--星評価-->
							 <script>
					          $('#star-rate-<%= spot.id %>').raty({
					            size: 36,
					            starOff: '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,//星の半分入力
					            readOnly: true,//読み取り専用
					            score: <%= spot.ave_rate || 0 %>
					          });
					         </script>
					        <!--/星評価-->
						<% end %>
					</div>
					<div>
						<% if spot.spot_images.present? %>
			  				<% spot.spot_images.each do |image| %>
			    				<%= attachment_image_tag image, :image, :fill, 550, 500 %>
			    			<% end %>
			  			<% else %>
			    			<%= image_tag 'anea.jpg', size: '550x500' %>
						<% end %>
					</div>
					<div class="padding-top">
						名所：　<span class="font-size-big"><%= spot.name %></span>
					</div>
					<div>
						住所：　<span class="font-size-big"><%= spot.address %></span>
					</div>
					<div>
						<%= spot.url %>
					</div>
					<div class="spot-introduction-td"><span class="spot-introduction"><%= spot.introduction %></span>
					</div>
		</div>
		<% end %>
	</div>
