	<div class="row">
		<% @spots.each do |spot| %>
		<div class="spot-box">
			<table clas="table">
					<tr>
						<% if spot.comments.present? %>
							<th id="star-rate-<%= spot.id %>"><!-- ☆平均値表示 --></th>
							<!--星評価-->
							 <script>
					          $('#star-rate-<%= spot.id %>').raty({
					            size: 36,
					            starOff:  '<%= asset_path('star-off.png') %>',
					            starOn : '<%= asset_path('star-on.png') %>',
					            starHalf: '<%= asset_path('star-half.png') %>',
					            half: true,//星の半分入力
					            readOnly: true,//読み取り専用
					            score: <%= spot.ave_rate %>
					          });
					         </script>
					        <!--/星評価-->
						<% end %>
						<th><button><%= link_to 'レビューする', class:"btn btn-group-lg" %></button></th>
					</tr>
					<tr>
						<td>名所：　<%= spot.name %></td>
					</tr>
					<tr>
						<td>住所：　<%= spot.address %></td>
					</tr>
					<tr>
						<td><%= spot.url %></td>
					</tr>
				    <tr>
						<% if spot.spot_images.present? %>
			  				<td><% spot.spot_images.each do |image| %>
			    				<%= attachment_image_tag image, :image, :fill, 100, 200 %></td>
			    			<% end %>
			  			<% else %>
			    			<td><%= image_tag 'anea.jpg', size: '200x200' %><span class="spot-introduction"><%= spot.introduction %></span></td>
						<% end %>
					</tr>
			</table>
		</div>
		<% end %>
	</div>
