<div class="container">
	<% @genres.each do |genre| %>
		<%= link_to genre.name, member_spots_path(genre_id: genre.id) %>
	<% end %>


		<div class="row">
			<div class="col-sm-3 spot-name-rank">
					<% if params[:genre_id] %>
						<h3 class="rank-name"><%= @genre.name %>ランキング</h3>
							<% @spots.each do |spot| %>
								<nav>
									<ol>
										<li><%= spot.name %></li>
									</ol>
								</nav>
							<% end %>
					<% else %>
						<h3 class="rank-name">総合ランキング</h3>
						<% @spots.each do |spot| %>
							<nav>
								<ol>
									<li><%= spot.name %></li>
								</ol>
							</nav>
						<% end %>
					<% end %>
			</div>
		    <div class="col-sm-8 spots-ranking">
		    	<%= render 'spots_ranking', spots: @spots %>
		    </div>
		</div>
</div>