<div class="container">
	<div class="row">
		<%= spots.each do |spot| %>
			<%= attachment_image_tag spot, :image, :fill, 500, 500, fallback: "no_image.jpg", size:'500x500' %>
			<%= spot.name %>
			<%= spot.address %>
			<%= spot.url %>
		<% end %>
	</div>
</div>
