<div class="container">
	<% @genres.each do |genre| %>
		<%= link_to genre.name, member_spots_path(genre_id: genre.id) %>
	<% end %>


		<div class="row">
			<div class="col-sm-3 spot-name-rank">
					<% if params[:genre_id] %>
						<h4 class="rank-name"><%= @genre.name %>ランキング</h4>
							<% @spots.each.with_index(1) do |spot, i| %>
								<nav>
									<ul class="index-nav">
										<li><%= i %>位  <%= spot.name %></li>
									</ul>
								</nav>
							<% end %>
					<% else %>
						<h4 class="rank-name">総合ランキング</h4>
						<% @spots.each.with_index(1) do |spot, i| %>
							<nav>
								<ul class="index-nav">
									<li><%= i %>位  <%= spot.name %></li>
								</ul>
							</nav>
						<% end %>
					<% end %>
			</div>
		    <div class="col-sm-8 spots-ranking">
		    	<%= render 'spots_ranking', spots: @spots %>
		    </div>
		</div>
</div>