<div class="container">
		<div class="row">
			<div class="spot-name-rank" id="fixed">
				<% if current_member %>
					<span class="user-img"><img src="<%= asset_path('moai.jpg') %>"></span>
					<%= current_member.nick_name %>さん
				<% end %>
					<% if params[:genre_id] %>
						<h5 class="rank-name"><strong><%= @genre.name %>ランキング</strong></h5>
							<% @spots.each.with_index(1) do |spot, i| %>
								<nav>
									<ul class="index-nav">
										<li><%= i %>位  　<%= spot.name %></li>
									</ul>
								</nav>
							<% end %>
					<% else %>
						<h5 class="rank-name"><strong>総合ランキング</strong></h5>
							<% @spots.each.with_index(1) do |spot, i| %>
								<nav>
									<ul class="index-nav">
										<li><%= i %>位　  <%= spot.name %></li>
									</ul>
								</nav>
							<% end %>
					<% end %>
					<p>※当サイト内レビュー順位です。</p>
			</div>
			<div class="col-sm-4">
			</div>
		    <div class="col-sm-7 spots-ranking">
		    	<%= render 'spots_ranking', spots: @spots %>
		    </div>
		    <div class="col-sm-1">
		    </div>
		</div>
</div>