<div class="container">
	<div class="row">
		<%= @spots.each do |spot| %>
			<% if spot.spot_images.present? %>
  				<% spot.spot_images.each do |image| %>
    				<%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
    			<% end %>
  			<% else %>
    			<%= image_tag 'no_image.jpg', size: '200x200' %>
			<% end %>
			<%= spot.name %>
			<%= spot.address %>
			<%= spot.url %>
			<%= spot.introduction %>
		<% end %>
	</div>
</div>
