<div class="container spot-show">
		<div class="row">
			<!-- サイドバー -->
			<div class="col-sm-3">
				<div class="spot-name-rank" id="fixed2"><!-- 位置固定 -->
					<%= render partial: 'left_side_bar', locals: { genre: @genre, spots: @spots } %>
				</div>
			</div>
			<!-- spot情報 -->
			<div class="col-sm-9 show-subject">
				<h2><%= @spot.name %></h2>
					<nav class="nav-show">
					<div class="spot_address">住所:　<%= @spot.address %></div>
					<% if @spot.url.present? %>
						<div class="spot_url">URL:　<%= @spot.url %></div>
					<% end %>
				      	<ul class="nav-list">
					        <li class="nav-list-item">
					          <button class="comment-click">レビュー / コメント</button>
					        </li>
					        <li class="nav-list-item">
					       		<button class="img-click">写真</button>
					        </li>
					        <li class="nav-list-item">
					        	<button>
					        		<%= link_to new_member_spot_path do %>
					        			<i class="fas fa-plus-circle"></i>写真を投稿
					        		<% end %>
					        	</button>
					        </li>
				      	</ul>
				    </nav>

				    <!-- 写真一覧 -->
				    <div class="img-box">
				    	<!-- スポット投稿時の写真 -->
					    <% if @spot.spot_images.present? %>
							<% @spot_images.each do |image| %>
								<div><%= attachment_image_tag image, :image, :fill, 250, 250 %></div>
							<% end %>
						<% else %>
							<p>写真はまだありません。ぜひ、投稿お願いします。</p>
						<% end %>
						<%= paginate @spot_images %>
						<!-- コメント投稿時の写真 -->
						<% if @comment_images.present? %>
							<% @comment_images.each do |image| %>
								<div><%= attachment_image_tag image, :image, :fill, 250, 250 %></div>
							<% end %>
							<%= paginate @comment_images %>
						<% end %>
					</div>

					<!-- コメント一覧 -->
					<div class="comment-box-parent">
						<% if @spot.comments.present? %>
							<div class="comment-box">
			 					<%= render partial: 'comment_index', locals: {comments: @comments} %>
			 				</div>
			 			<% else %>
			 				<p>コメントはまだありません。</p>
			 			<% end %>
			 		</div>

					<!-- コメント投稿フォーム / すでにコメントしていたら表示しない -->
					<% if current_member && current_member.spots.where(id:@spot).empty? && current_member.comments.where(id:@spot).empty? %>
					 	<p>レビューをお願いします。</p>
						<%= render partial: 'comment_form', locals: { comment: @comment, spot_id: @spot.id } %>
					<% end %>

					<!-- 写真のみの投稿フォーム -->
			</div>
		</div>
 </div>