<div class="container">
	<div class="row">
		<%= link_to new_member_spot_path, class:"btn" do %>
			<i class="fas fa-plus-circle">投稿する</i>
		<% end %>
	</div>
	<div class="row">
		<%= @spot.name %>
		<%= @spot.address %>
		<%= @spot.url %>
		<% if @spot.spot_images.present? %>
  			<% @spot.spot_images.each do |image| %>
    			<%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
    		<% end %>
  		<% else %>
    		<%= image_tag 'no_image.jpg', size: '200x200' %>
		<% end %>
		<% if current_member.id = @spot.member_id do %>
			<%= link_to '削除', @spot, member_spot_path, method: :delete, data: { confirm: '本当に消しますか？' } %>
		<% end %>
	</div>
	<!-- コメント投稿フォーム -->
	<div class="row">
		<%= form_with(model: [:member, @spot, @comment], local: true) do |form| %>
      		<%= form.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
      		<%= form.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>
    </div>
    <!-- コメント投稿フォームここまで -->
 </div>