<div class="container">
	<div class="row">
		<%= attachment_image_tag @spot, :image, :fill, 40, 40, fallback: "no_image.jpg", size:'500x500' %>
		<%= @spot.name %>
		<%= @spot.address %>
		<%= @spot.url %>
	</div>
	<div class="row">
		<%= form_for [@spot, @comment] do |f| %>
      		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
      		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>
    </div>
  </div>