<div class="spot-show">
	<div class="container">
		<div class="row">
			<!-- サイドバー -->
			<div class="col-sm-2">
				<div class="spot-name-rank" id="fixed2"><!-- 位置固定 -->
					<%= render partial: 'left_side_bar', locals: { genre: @genre, spots: @spots } %>
				</div>
			</div>
			<!-- spot情報 -->
			<div class="col-sm-9 show-subject">
				<div class="return-index">
					<%= link_to member_spots_path do %>
						<i class="fas fa-reply">一覧へ戻る</i>
					<% end %>
				</div>
				<div class="row">
					<div class="col-sm-9 col-xs-11">
						<h1><%= @spot.name %>
							<% if @spot.comments.present? %>
								<span id="star-rate" class="star2"><!-- ☆平均値ここに表示 --></span>
								<span class="show-star"><%= @spot.ave_rate.round(1) %>点
								</span>
							<% end %>
						</h1>
					</div>
					<div class="col-sm-2 col-xs-1">
					<% if current_member || current_admin %>
						<% if current_member.spots.where(id: @spot.id).empty? && current_member.comments.where(spot_id: @spot.id).empty? %>
							<div class="mobile-none">
								<%= link_to member_spot_path(anchor: "comment-form") do %>
									<i class="far fa-thumbs-up btn btn-default">レビューする</i>
								<% end %>
							</div>
							<div class="pc-none">
								<%= link_to new_member_spot_path do %>
									<i class="far fa-thumbs-up btn btn-default font-size-5"></i>
								<% end %>
							</div>
						<% end %>
					<% else %>
						<div class="mobile-none">
							<%= link_to new_member_session_path do %>
									<i class="far fa-thumbs-up btn btn-default">レビューする</i>
							<% end %>
						</div>
					<% end %>
					</div>
				</div>
				<div>
					<!--星評価-->
					 <script>
					 $(document).on('turbolinks:load', function(){
					 	$('#star-rate').raty({
			            size: 36,
			            starOff: '<%= asset_path('star-off.png') %>',
			            starOn : '<%= asset_path('star-on.png') %>',
			            starHalf: '<%= asset_path('star-half.png') %>',
			            half: true,//星の半分入力
			            number: 5,//星の数５個まで
			            readOnly: true,//読み取り専用
			            score: <%= @spot.ave_rate || 0 %>
			          });
					 });
			         </script>
			        <!--/星評価-->
				</div>
					<nav class="nav-show">
					<div class="spot_address font-size-5">
						<i class="fas fa-map-marker-alt icon-size icon-padding"></i>最寄り駅:　<%= @spot.address %>
					</div>
					<% if @spot.url.present? %>
						<div class="spot_url">
							<i class="fas fa-globe icon-size icon-padding"></i>URL:　<%= @spot.url %></div>
					<% end %>
				      	<ul class="nav-list">
				      		<li class="nav-list-item spot-nav-list-item pointer img-click" id="img-click"><span class="font-size-5">写真</span>
				      		</li>
					        <li class="nav-list-item spot-nav-list-item pointer pointer2 comment-click" id="comment-click"><span class="font-size-5">レビュー / コメント</span></li>
				      	</ul>
				    </nav>

				    <!-- 写真一覧 -->
				    <div class="img-box">
				    	<!-- スポット投稿時の写真 -->
					    <% if @spot.spot_images.present? %>
							<% @spot.spot_images.each do |image| %>
								<div><%= attachment_image_tag image, :image %></div>
							<% end %>
						<% end %>

						<!-- コメント投稿時の写真 -->
						<% if @spot.comments.present? %>
							<% @spot.comments.each do |comment| %>
							  	<% if comment.comment_images.present? %>
							  		<% comment.comment_images.each do |image| %>
										<div><%= attachment_image_tag image, :image, :fill, 250, 250 %></div>
						      		<% end %>
					        	<% end %>
					        <% end %>
						<% end %>
					</div>

					<!-- コメント一覧 -->
					<div class="comment-box-parent">
						<% if @spot.comments.present? %>
							<div class="comment-box">
			 					<%= render partial: 'comment_index', locals: {comments: @comments} %>
			 				</div>
			 			<% else %>
			 				<p class="text-align-center">レビュー / コメントはまだありません。
			 				</p>
			 			<% end %>
			 		</div>

					<!-- コメント投稿フォーム / 投稿主であったり、すでにコメントしていたら表示しない -->
					<section id="comment-form">
						<div class="col-sm-1">
						</div>
						<div class="col-sm-10">
							<% if current_member && current_member.spots.where(id: @spot.id).empty? && current_member.comments.where(spot_id: @spot.id).empty? %>
								<%= render partial: 'comment_form', locals: { comment: @comment, spot_id: @spot.id, i: @index } %>
							<% end %>
						</div>
						<div class="col-sm-1">
						</div>
					</section>
			</div>
		</div>
	</div>
 </div>