<div class="container">
	<div class="row">
		<%= link_to root_path, class:"btn" do %>
			<i class="fas fa-plus-circle">投稿する</i>
		<% end %>
	</div>
	<div class="row">
		<% if @spot.spot_images.present? %>
  			<% @spot.spot_images.each do |image| %>
    			<%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
    		<% end %>
  		<% else %>
    		<%= image_tag 'no_image.jpg', size: '200x200' %>
		<% end %>
		<%= @spot.name %>
		<%= @spot.address %>
		<%= @spot.url %>
	</div>
	<div class="row">
		<%= form_with(model: [:member, @spot, @comment], local: true) do |form| %>
      		<%= form.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
      		<%= form.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>
    </div>
 </div>