<div class="container mypage">
	<div class="row">
  　<div class="col-sm-4">
    </div>
    <div class="col-sm-4">
  		<%= form_with(model: @member, local: true) do |form| %>
  				<div class="field">
      				<h7>Name</h7>
      				<%= form.text_field :name, autofocus: true,class:"col-sm-12" %>
    				</div>
    				<div class="field">
      				<h7>Nickname</h7>
      				<%= form.text_field :nickname,class:"col-sm-12" %>
    				</div>
  				<div class="field">
      				<h7>メールアドレス</h7>
      				<%= form.email_field :email, autocomplete: "email",class:"col-sm-12" %>
    				</div>
    				<div class="action">
    					<%= form.submit "変更する",class:"col-sm-12 btn btn-primary" %>
    				</div>
  		<% end %>
  	</div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
