<div class="container mypage">
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 mydate-box">
		<h5>ご登録情報　　　<btn><%= link_to "編集する", edit_member_member_path(current_member), class: "btn btn-primary" %></btn></h5>
				<table class="table">
					<tr>
						<th>Name</th>
						<td><%= current_member.name %></td>
					</tr>
					<tr>
						<th>Nickname</th>
						<td><%= current_member.nick_name %></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><%= current_member.email %></td>
					</tr>
				</table>
		</div>
		<div class="col-sm-4">
		</div>
	</div>

	<div class="my-nav">
		<nav class="nav-show2">
			<ul class="nav-list">
				<li class="nav-list-item">
					<button class="comment-click">　投稿履歴　</button>
				</li>
				<li class="nav-list-item">
					<button class="img-click">　レビュー履歴　</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-10 member-boxes">
		<div class="post-subject-parent">
			<h5 class="post-subject">ご投稿一覧</h5>
		</div>
				<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Image</th>
						<th>Spot</th>
						<th>Introduction</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @spots.each do |spot| %>
						<tr>
							<td><!-- lメソッド：時間を表示 --><%= l spot.created_at, format: :short %></td>

							<% if spot.spot_images.present? %>
				  				<td>
				  					<% spot.spot_images.first(1).each do |image| %>
				  						<%= link_to member_member_path(spot_id: image.spot, anchor: "view-more") do %>
				    						<%= attachment_image_tag image, :image, :fill, 80, 60 %>
				    							<% if spot.spot_images.count > 2 %>
				    								<div class="p-small">view more</div>
				    							<% end %>
				    					<% end %>
									<% end %>
								</td>
			  				<% else %>
			  					<td>no image</td>
			  			    <% end %>
							<td><%= spot.name %></td>
							<td class="p-small"><%= spot.introduction %></td>
							<td><%= link_to "編集", root_path, class: "btn btn-default" %>
								<%= link_to "削除", root_path, class: "btn btn-default" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			    </table>
	</div>
	</div>
	<section id="view-more">
	<% if params[:spot_id] %>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10 member-boxes">
				<div class="images-border"><strong>images</strong></div>
					<% @spot.spot_images.each do |image| %>
						<div class="list-box2 clearfix">
							<%= attachment_image_tag image, :image, :fill, 225, 225 %>
						</div>
					<% end %>
		</div>
	</div>
	<% end %>
	</section>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10 member-boxes">
			<div class="review-subject-parent">
				<h5 class="review-subject">レビュー一覧</h5>
			</div>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Spot</th>
							<th>Evaluation</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						<% @comments.each do |comment| %>
							<tr>
								<td><!-- lメソッド：時間を表示 --><%= l comment.created_at, format: :short %></td>
								<td><%= comment.spot.name %></td>
								<td> <img src="<%= asset_path('star-on.jpg') %>"><%= comment.rate %></td>
								<td><%= comment.comment %></td>
								<td><%= link_to "編集", root_path, class: "btn btn-default" %>
									<%= link_to "削除", root_path, class: "btn btn-default" %>
								</td>
							</tr>
						<% end %>
					</tbody>
			    </table>
		</div>
	</div>
</div>
