<div class="container mypage">
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 mydate-box">
		<h5>ご登録情報　　　<btn><%= link_to "編集する", edit_member_member_path(current_member), class: "btn btn-primary" %></btn></h5>
				<table class="table">
					<tr>
						<th>Name</th>
						<th><%= current_member.name %></th>
					</tr>
					<tr>
						<th>Nickname</th>
						<th><%= current_member.nick_name %></th>
					</tr>
					<tr>
						<th>Email</th>
						<th><%= current_member.email %></th>
					</tr>
				</table>
		</div>
		<div class="col-sm-4">
		</div>
	</div>

	<div class="row　my-spots-box">
		<h5>ご投稿一覧</h5>
				<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Image</th>
						<th>Spot</th>
						<th>Introduction</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @spots.each do |spot| %>
						<tr>
							<td><%= spot.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>

							<% if spot.spot_images.present? %>
				  				<td><% spot.spot_images.each do |image| %>
				    				<%= attachment_image_tag image, :image, :fill, 50, 50 %></td>
			    				<% end %>
			  				<% else %>
			  					<td>no image</td>
			  			    <% end %>
							<td><%= spot.name %></td>
							<td><%= spot.introduction %></td>
							<td><btn><%= link_to "編集する", root_path, class: "btn btn-default" %></btn>
								<%= link_to "投稿を削除する", root_path, class: "btn btn-default" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			    </table>
	</div>
	<div class="row review-box">
		<h5>レビュー一覧</h5>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Spot</th>
							<th>Evaluation</th>
							<th>Comment</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @comments.each do |comment| %>
							<tr>
								<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
								<td><%= comment.spot.name %></td>
								<td><img src="assets/star-on.png"><%= comment.rate %></td>
								<td><%= comment.comment %></td>
								<td><%= link_to "編集する", root_path, class: "btn btn-default" %>
									<%= link_to "投稿を削除する", root_path, class: "btn btn-default" %>
								</td>
							</tr>
						<% end %>
					</tbody>
			    </table>
	</div>
</div>
