<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    	<nav class='nav navbar-nav navbar-left' >
      		<span>PETOKYO</span>
    	</nav>

		<% if member_signed_in? %>
			<p>ようこそ！<%= current_member.name %>さん</p>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About', member_spots_about_path %></li>
					<li><%= link_to '地域を選ぶ', member_spots_path %></li>
					<li><%= link_to 'カフェを探す', member_spots_path %></li>
					<li><%= link_to '公園・ドッグランを探す', member_spots_path %></li>
					<li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% elsif admin_signed_in? %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to '地域を選ぶ', member_spots_path %></li>
					<li><%= link_to 'カフェ一覧へ', member_spots_path %></li>
					<li><%= link_to '公園・ドッグラン一覧へ', member_spots_path %></li>
					<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% else %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About', member_spots_about_path %></li>
					<li><%= link_to '地域を選ぶ', member_spots_path %></li>
					<li><%= link_to 'カフェを探す', member_spots_path %></li>
					<li><%= link_to '公園・ドッグランを探す', member_spots_path %></li>
					<li><%= link_to 'ログイン', new_member_session_path %></li>
					<li><%= link_to '新規登録', new_member_registration_path %></li>
				</ul>
			</nav>
		<% end %>
	</div>
</header>