<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    	<nav class='nav navbar-nav navbar-left logo' >
      		<span>PETOKYO</span>
    	</nav>

		<% if member_signed_in? %>
			<p>ようこそ！<%= current_member.nick_name %>さん</p>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About', member_spots_about_path %></li>
					<li><%= link_to 'Mypage', member_member_path(current_member) %></li>
					<li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% elsif admin_signed_in? %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to '会員一覧', admin_members_path %></li>
					<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% else %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About', member_spots_about_path %></li>
					<li><%= link_to '新規登録', new_member_registration_path %></li>
					<li><%= link_to 'ログイン', new_member_session_path %></li>
				</ul>
			</nav>
		<% end %>
	</div>
	<div class="container nav2">
		<nav>
			<ul class="nav navbar-nav">
				<li><%= link_to '地域を選ぶ', member_spots_path, class:"btn btn-primary" %></li>
				<% Genre.all.each do |genre| %>
					<li><%= link_to genre.name, member_spots_path(genre_id: genre.id), class:"btn btn-primary" %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>