<header>
	<div class="container">
		<div class="row">
		<% if member_signed_in? %>
			<nav>
				<ul class="header-nav">
					<li class="col-sm-2 nav-li"><a href="#about"><img src="assets/1.png" alt="公園で佇む犬の写真"><br>About</a></li>
					<li class="col-sm-2 nav-li"><img src="assets/4.png" alt="公園で遊ぶ犬の写真"><br>Search</li>
					<%= link_to root_path do %>
					<li class="col-sm-4 logo"><img src="assets/PETOKYO_logo3.png" alt="PETOKYOのロゴ"></li>
					<% end %>
					<%= link_to member_member_path(current_member) do %>
					<li class="col-sm-2 nav-li"><img src="assets/5.png" alt="ドッグランの写真"><br>My page</li>
					<% end %>
					<%= link_to destroy_member_session_path, method: :delete do %>
					<li class="col-sm-2 nav-li"><img src="assets/3.png" alt="ログアウト"><br>Log out</li>
					<% end %>
				</ul>
			</nav>
		<% elsif admin_signed_in? %>
			<nav>
				<ul class="header-nav">
					<li class="col-sm-4 logo"><img src="assets/PETOKYO_logo2.png"></li>
					<li class="col-sm-4"><%= link_to '会員一覧', admin_members_path %></li>
					<li class="col-sm-4"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
				</ul>
			</nav>
		<% else %>
			<nav>
				<ul class="header-nav">
					<li class="col-sm-2 nav-li"><img src="assets/1.png"><br><%= link_to 'About', member_spots_about_path %></li>
					<li class="col-sm-2 nav-li"><img src="assets/4.png"><br>Search</li>
					<li class="col-sm-4 logo"><img src="assets/PETOKYO_logo3.png"></li>
					<li class="col-sm-2 nav-li"><img src="assets/6.png"><br><%= link_to '新規登録', new_member_registration_path %></li>
					<li class="col-sm-2 nav-li"><img src="assets/5.png"><br><%= link_to 'ログイン', new_member_session_path %></li>
				</ul>
			</nav>
		<% end %>
		</div>
	</div>
</header>