<!DOCTYPE html>
<html>
  <head>
    <title>あなたの街のおすすめのドッグカフェとドッグランが見つかる！PETOKYO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 要素を揺らすため（topページ what's petokyo?） -->
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- slick使用のため -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- jQueryの読み込み ハンバーガー-->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!-- -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- spotページ左　user/ranking固定のため -->
    <style>
      #fixed1 {
        position: fixed;
        top: 100px;
        left: 100px;
      }
      #fixed2 {
        position: fixed;
        top: 100px;
        left: 50px;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!-- slick使用のため -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- scrollrevealのため -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </body>
</html>
